{% extends 'base.html.twig' %}

{% block stylesheets %}

    <style>
      div .card {
            border: 0px; !important;
        }
    </style>
{% endblock %}

{% block main %}

    <!--Section: Blog v.4-->
    <section class="section section-blog-fw mt-5 pb-3 wow fadeIn">

        <!--Grid row-->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-12"> <!--più piccola-->
                <!--Featured image-->
                <div class="card card-cascade wider reverse">
                    <div class="view view-cascade overlay" style=" padding-left: 0px !important;" >
                        <video class="video-fluid"   autoplay loop muted>
                            <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
                        </video>                        <a>
                            <div class=""></div>
                        </a>
                    </div>

                    <!--Post data-->
                    <div class="card-body card-body-cascade text-justify">
                        <div class="col-12 col-md-12">
                        <h2 class="text-center"><strong>Welcome to BASE Application</strong></h2>


                        <p class="lead">The <b>BASE Application</b> is an evidence-based tool to promote the Positive Behaviour Support at school. <br>
                            It aimed at response to the European requirement of reforming the whole scholastic disciplinary system to offer students the opportunity to experience the school context as socially predictable, consistent, safe and positive where norm-violating behaviour is minimized, and prosocial behaviour is promoted. <br>

                           The Base application is an output of the BASE project aimed to implement and to disseminate a PBS school program, to support gathering of comparable data from school of different countries; comparing intervention effects at the three different levels: school-wide, classroom, and single student; experimenting standards for procedures and data structures; constructing and sustaining communities of people involved in the spread of the PBS approach. <br>
                        <p class="blue-grey-text"> <br> <i> Partners contributing to BASE application: University of Palermo; University College Dublin; Instituto Politecnico do Porto; STICHTING VU.</i></p>
                        </div>
                        <!--Social shares-->

                        <div class="social-counters text-center">
                            <a href="https://www.base-proj.eu/"><button type="button" class="btn btn-primary "> BASE Website </button></a>
                            <a href="http://base.ucd.ie"><button type="button" class="btn btn-secondary "> BASE Repository </button></a>

                        </div>
                        <!--Social shares-->

                    </div>
                    <!--Post data-->
                </div>


            </div>
            <div class="col-md-1"></div>

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Blog v.4-->
{% endblock %}
{% block javascripts %}
<script>
    // Bind an event to window.orientationchange that, when the device is turned,
    // gets the orientation and displays it to on screen.
    $( window ).on( "orientationchange", function( event ) {
        $( "#orientation" ).text( "This device is in " + event.orientation + " mode!" );
    });

    // You can also manually force this event to fire.
    $( window ).orientationchange();
</script>

{% endblock %}