<html>
<head></head>
<body>
<h3>You did it! You registered!</h3>

Hi ! You're successfully registered.

<div><img width="50%" src="http://base.ucd.ie/files/theme_uploads/e563592a9d3357be5fc80375ababa72c.png"></div>

{# example, assuming you have a route named "login" #}
<p>To login, go to: <a href="{{ url('app_login') }}">Login</a> and insert the following code: {{ code }}.</p>

<p>Remember to share your School code to your teachers! {{ schoolCode }}
Thanks!</p>
{# Makes an absolute URL to the /images/logo.png file #}
</body>
</html>