<h3>You did it! You registered!</h3>

Hi ! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ url('app_login') }}">Login</a>.

Thanks!

{{ code }}
{# Makes an absolute URL to the /images/logo.png file #}
<img src="https://png.pngtree.com/element_pic/16/12/29/e8e365c679fd7354f6f6f903a7dbcef0.jpg">