{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block main %}
    <!--Section: Blog v.4-->
    <section class="section section-blog-fw mt-5 pb-3 wow fadeIn">

        <!--Grid row-->
        <div class="row">
            <div class="col-md-12">
                <!--Featured image-->
                <div class="card card-cascade wider reverse">
                    <div class="view view-cascade overlay">
                        <video class="video-fluid" autoplay loop muted>
                            <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
                        </video>                        <a>
                            <div class=""></div>
                        </a>
                    </div>

                    <!--Post data-->
                    <div class="card-body card-body-cascade text-center">
                        <h2><a><strong>Welcome to BASE Application</strong></a></h2>
                        <p>Description</p>

                        <!--Social shares-->
                        <div class="social-counters ">

                            <!--Facebook-->
                            <a class="btn btn-fb ">
                                <i class="fa fa-facebook left "></i>
                                <span class="hidden-md-down ">Facebook</span>
                            </a>
                            <span class="counter ">46</span>

                            <!--Twitter-->
                            <a class="btn btn-tw ">
                                <i class="fa fa-twitter left "></i>
                                <span class="hidden-md-down ">Twitter</span>
                            </a>
                            <span class="counter ">22</span>

                            <!--Dribbble-->
                            <a class="btn btn-dribbble ">
                                <i class="fa fa-dribbble left "></i>
                                <span class="hidden-md-down ">Dribbble</span>
                            </a>
                            <span class="counter ">31</span>

                            <!--Comments-->
                            <a class="btn btn-blue-grey ">
                                <i class="fa fa-comments-o left "></i>
                                <span class="hidden-md-down ">Comments</span>
                            </a>
                            <span class="counter ">18</span>

                        </div>
                        <!--Social shares-->

                    </div>
                    <!--Post data-->
                </div>


            </div>
        </div>
        <!--Grid row-->

    </section>
    <!--Section: Blog v.4-->
{% endblock %}